body {
  margin: 0;
  background-color: rgb(22, 22, 22);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.generic-button {
  position: absolute;
  border-radius: 12px;
  border: solid 1px rgb(233, 135, 15);
  color: rgb(233, 135, 15);
  background-color: rgb(22, 22, 22);
  width: 20%;
  height: 4vw;
  font-size: clamp(0.5em, 2.5vw, 6em);
}

.generic-button:hover {
  color: rgb(22, 22, 22);
  border-color: rgb(22, 22, 22);
  background-color: rgb(233, 135, 15);
  transform: scale(1.05,1.05);
}

a {
  text-decoration: none;
}
